.profile__edit-button{
  border:0;
  padding: 0;
  margin: 0 auto;
  margin-left: 17px;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/editButton.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: inherit;
  border: none;
  box-shadow: none;
}

.profile__edit-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 667px) {
  .profile__edit-button{
    margin: 0 auto;
    width: 18px;
    height: 18px;
  }
}
