.popup__input{
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  padding: 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 36px 29px;
  color: black;
}

@media screen and (max-width:667px){
  .popup__input{
    max-width: 250px;
  }
}
