.popup__close-button{
  background-image: url(../../../images/closeIcon.svg);
  padding: 0px;
  background-size: cover;
  background-color: transparent;
  border: none;
  max-width: 40px;
  min-height: 40px;
  width: 100%;
  position: absolute;
  top: -40px;
  right: -40px;
  box-shadow: none;
}

.popup__close-button:hover{
  opacity: 0.6;
  transition: ease-in-out .3s;
  cursor: pointer;
}

@media screen and (max-width: 667px) {
  .popup__close-button{
    top: -30px;
    right: -30px;
  }
}
