
.illustration__heart{
  padding: 0px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  box-shadow: none;
  width: 100%;
  min-height: 18px;
}

.illustration__heart:hover{
  opacity: 0.6;
  transition: ease-in-out .3s;
  cursor: pointer;
}
