.header__logo{
    max-width: 142px;
    max-height: 33px;
    margin-top: 45px;
    margin-bottom: 40px;
    justify-self: start;
}

@media screen and (max-width: 667px) {
    .header__logo {
      max-width: 103px;
      max-height: 24px;
      margin-top: 28px;
      margin-left: 27px;
      margin-bottom: 31px;
    }
}
