@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);

.header{
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    max-width: 882px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

