.profile__title{
  margin: 0 auto;
  margin-left: 0px;
  font-size: 42px;
  line-height: 56px;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 667px) {
  .profile__title{
    font-size: 27px;
    min-width: 201px;
  }
}
